<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="URL_API" value="http://cai-api.azurewebsites.net/api/v1"/>
		<add key="NRO_REGISTRO" value="825551"/>
	</appSettings>
</configuration>